{% extends 'base.html' %}

{% load static%}

{% block content %}

<div class="container">

    <div style="width: 100%; height: 700px; margin: 0 auto; 
        background-image: url({% static 'img/Metz.jpg' %}); background-repeat: no-repeat; background-size: contain; background-position: center ;">
    </div>

    <div class="col-sm-12" style="text-align: center;">
        <a href="{% url 'selection' %}">
            <img src="{% static 'img/right-arrow.png' %}" style="width: 100px;" alt="MetZ">
        </a>
    </div>

</div>
{% endblock %}