{% extends 'base.html' %}

{% load static%}

{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

<div class="container mt-3" style="min-height: 450px;">
    <h3 style="text-align: center; margin: 20px 0;">Liste des fiches à revoir : </h3>
    <div style="text-align: center; margin-bottom: 20px; ">
    </div>
    <div style="text-align: center; margin-bottom: -10px; font-size: x-small; ">
        {% if modif_fiches %}
        <p> Cliquer sur <i class="fa fa-window-close" style='color: red;' ></i> pour supprimer et réimporter après modification. </p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="mb-3" >
                <div class="container" style="text-align: center;">
                    {% for modif_fiche in modif_fiches %}
                    <table class="table table-striped ">
                        <tbody>
                          <tr>
                            <td class="col-sm-10"><a href='{% url "detail" modif_fiche.selection modif_fiche.slug  %}' class="list-group-item list-group-item-action" style="height: 98px;"> {{modif_fiche.nom}} <br> <span style="font-size: x-small;">({{modif_fiche.selection}})</span> </a></td>
                            <td class="col-sm-2">
                                <a style='color: red;' href='{% url "del_verif" modif_fiche.selection modif_fiche.slug %}' class="d-flex align-items-center justify-content-center">
                                    <i class="fa fa-window-close float-right"></i>
                                </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      {% if forloop.counter|divisibleby:"5"  %}
                    </div><hr style="margin-top: 50px;"></div></div>                
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="mb-3" style="height: 370px ;">
                                <div class="container" style="text-align: center;">
                    {% endif %}
                      {% empty %}
                      <div class="container col-sm-12  offset-11" style="margin-top: 100px; ";>
                          <p>Aucune fiche à revoir pour le moment</p>
                          <div class="col-sm-12" style="text-align: center;">
                              <a href="{% url 'selection' %}">
                                  <img src="{% static 'img/left-arrow.png' %}" style="width: 80px; margin-top: 50px;" alt="MetZ">
                              </a>
                          </div>
                      </div>  
                  
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}

